  <nav>
    <a href="/">
      <img class="logo" src="/assets/tad_web.svg" />
    </a>
    <h4>Home</h4>
    <h4>Music</h4>
    <h4>Blog</h4>
    <h4>About</h4>
  </nav>

<section class="meat">
<!-- Portrait -->
<img src="/assets/risograph_dt_tad_frame.png" class="fixed" />
<!-- END Portrait -->
<!-- Intro -->
      <div class="row meat-intro">
        <div class="col-xs-8">
          <h1><span class="title">THADDEUS JORDAN</span></h1>
          <h2><span class="title">Just a dude with a guitar and a dream.</span></h2>
        </div>
        <div class="col-xs-2 first-xs last-sm">
        </div>
      </div>
<!-- END Intro -->
<!-- Content -->
      <div class="row meat-body">
        <div class="col-xs-8">

{{ range .Data.Pages.ByPublishDate }}

<h2><span>{{ .Title }}</span></h2>
<h3><span>{{ .Date.Format "Mon, Jan 2, 2006" }}</span></h3>
<p>
{{ .Content | markdownify }}
</p>

{{ end }}





        </div>
        <div class="col-xs-2 first-xs last-sm">
        </div>
      </div>
<!-- END Content -->

</section>
