<nav>
  <section>
    <div class="row middle-xs">
      <div class="col-xs brand">
            <a href="/">
              <img src="/assets/tad_web.svg" />
            </a>
        </div>

      <div class="col-xs-2 col-sm-1 nav-item">
        <h4>Home</h4>
      </div>
      <div class="col-xs-2 col-sm-1 nav-item">
        <h4>Music</h4>
      </div>
      <div class="col-xs-2 col-sm-1 nav-item">
        <h4>Blog</h4>
      </div>
      <div class="col-xs-2 col-sm-1 nav-item">
        <h4>About</h4>
      </div>
    </div>
  </section>
</nav>
