:root {
font-size: 16px;
}
body {
    background: $background;
    color: $purewhite;
    margin: 0px;
}

img, canvas, iframe, video, svg, select, textarea {
  max-width: 100%; }

pre {padding: .5rem;
overflow: scroll;
background-color: $purewhite;
code {
padding: 0rem;
background-color: transparent;
}
}
code {
padding: .25rem;
background-color: $purewhite;
}

.Site {
    display: flex;
    min-height: 110vh;
    flex-direction: column;
}

.Site-content {
    flex: 1;
    margin-top: 3.82%;
}


nav {

  text-align: right;
  text-transform: uppercase;
  margin: 0 3.82%;
  position: fixed;
  .logo {
  max-width: 3.82rem;
  }
}
section {
    overflow: auto;
    padding: 0 3.82%;
}

.fixed {
position: fixed;
z-index: -1;
}



.meat {
h1, h2, h3, h4, h5, h6, small, strong, p, a {
span {background: $black;
padding: .618% 3.82% .618% .382%;
box-decoration-break: clone;
}
.title {background: $white;
color: $black;}
}
.meat-intro {
margin-top: 12.36%;
}
.meat-body {
margin-top: 24.72%;
}
}

.foot {
padding: .618% 3.82% .618% .382%;
background: $white;
color: $black;
a {color: $black;}
}


@media only screen and (max-width: 47em) {
  section {
      width: 85%;
      margin: 0 auto;
  }

}

@media only screen and (min-width: 48em) {
  section {
      width: 75%;
      margin: 0 auto;
  }

}
@media only screen and (min-width: 64em) {
  section {
      width: 61.8%;
      margin: 0 auto;
  }

}
